::selection {
  background-color: #d3ac66;
  color: #1d1008;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
}

body {
  background-color: #1d1008;
  margin: auto;
  height: 100%;
}

nav {
  background-color: #d3ac66;
  height: 80px;
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 520px;
  margin: auto;
}

nav ul li {
  color: #1d1008;
  list-style: none;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #1d1008;
}

nav ul li a:hover {
  text-decoration: underline;
}

.decoration {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
}

#main {
  margin: auto;
  margin-top: 100px;
  width: 846px;
  text-align: center;
}

h1 {
  font-size: 72px;
  margin-bottom: 20px;
  font-family: "Barrio", system-ui;
}

p {
  font-size: 28px;
  font-weight: 500;
}

h1,
h2,
p {
  color: #d3ac66;
}

.input_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

#url {
  background-color: transparent;
  color: #d3ac66;
  border-color: #d3ac66;
  border-radius: 100px;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
}

#url:focus {
  outline: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#more_info_button {
  text-decoration: none;
}

#check_button,
#more_info_button,
#refresh_button {
  border-radius: 8px;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  border-width: 2px;
  border-style: solid;
}

#check_button,
#refresh_button {
  background-color: #d3ac66;
  color: #1d1008;
  border-color: #d3ac66;
  margin-right: 10px;
}

#check_button:hover,
#more_info_button,
#refresh_button:hover {
  background-color: #1d1008;
  border-color: #d3ac66;
  color: #d3ac66;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner circle {
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  transform-origin: 50% 50%;
  animation: spin 1s linear infinite;
}

/* about page */

#about {
  margin: auto;
  margin-top: 100px;
  width: 846px;
  text-align: center;
}

#about {
  margin-top: 60px;
}

#about h2 {
  font-size: 45px;
  margin-bottom: 20px;
  font-family: "Barrio", system-ui;
  margin-top: 60px;
}

#about p,
#about ul li {
  font-size: 16px;
  text-align: left;
  line-height: 25px;
  margin-bottom: 10px;
  font-weight: 400;
}

#about ul li {
  color: #d3ac66;
}

#last {
  margin-bottom: 100px !important;
}
